:root {
    --background-dark: #444;
    --card-gradient-start: #00feba;
    --card-gradient-stop: #5b548a;
    --light-font: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

body {
    background-color: var(--background-dark);
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, var(--card-gradient-start), var(--card-gradient-stop));
    color: var(--light-font);
    margin: 100px auto 50px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search button {
    cursor: pointer;
}

.temperature {
    margin-bottom: 40px;
}

.temperature img {
    width: 150px;
    height: 150px;
}

.temperature h1 {
    font-size: 40px;
}

.temperature h2 {
    font-size: 30px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info img {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}